<div id="main-grid" class="ui three column doubling stackable grid problem-grid">
  <div class="column">
    <div class="ui segment">
      垂壁①
      <a class="ui mini blue basic right floated button download-template" href="/public/assets/image/template/face_all.png" download>ダウンロード</a>
      <img class="ui large image" src="/public/assets/image/template/face_all.png">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      垂壁②
      <a class="ui mini blue basic right floated button download-template" href="/public/assets/image/template/face_left.png" download>ダウンロード</a>
      <img class="ui large image" src="/public/assets/image/template/face_left.png">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      垂壁③
      <a class="ui mini blue basic right floated button download-template" href="/public/assets/image/template/face_right.png" download>ダウンロード</a>
      <img class="ui large image" src="/public/assets/image/template/face_right.png">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      どっかぶり
      <a class="ui mini blue basic right floated button download-template" href="/public/assets/image/template/north_left.png" download>ダウンロード</a>
      <img class="ui large image" src="/public/assets/image/template/north_left.png">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      どっかぶり～北壁
      <a class="ui mini blue basic right floated button download-template" href="/public/assets/image/template/north_center.png" download>ダウンロード</a>
      <img class="ui large image" src="/public/assets/image/template/north_center.png">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      北壁
      <a class="ui mini blue basic right floated button download-template" href="/public/assets/image/template/north_right.png" download>ダウンロード</a>
      <img class="ui large image" src="/public/assets/image/template/north_right.png">
    </div>
  </div>
</div>