<div id="fixed-header">
  {# <div class="ui center aligned segment"> #}
    <h3 class="ui header">{% if is_monthly %}マンスリー{% else %}セッション課題{% endif %}</h3>
    {# <div>
      <div id="open-search-form" class="ui teal button">検索</div>
      <div id="sort-order" class="ui teal dropdown button">
        並び替え
        <div class="menu">
          <div class="item dropdown-sort" sort="created_at" order="desc">新しい順</div>
          <div class="item dropdown-sort" sort="created_at" order="asc">古い順</div>
          <div class="item dropdown-sort" sort="grade" order="desc">難しい順</div>
          <div class="item dropdown-sort" sort="grade" order="asc">易しい順</div>
        </div>
      </div>
      <a class="ui teal button" href="/index.php/admin/{% if is_monthly %}m{% endif %}problem/detail ">新規作成</a>
    </div> #}
  {# </div> #}
</div>