<div id="fixed-footer">
  <div class="ui center aligned segment">
    {# <h3>マンスリー管理</h3> #}
    <div>
      {# <a class="ui teal button">検索</a>
      <a class="ui teal button">並び替え</a> #}
      <a class="ui teal button" href="/index.php/admin/monthly/detail">新規作成</a>
    </div>
  </div>
</div>