<div id="main-grid" class="ui three column doubling stackable grid problem-grid">
</div>

{# <div id="move-modal" class="ui mini test modal">
  <div class="header">
    月指定
  </div>
  <div class="content">
    <div class="ui form">
      <div class="two fields">
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="year" value="{{year}}">
            <i class="dropdown icon"></i>
            <div class="default text">年</div>
            <div class="menu">
              <div class="item year" data-value="2020">2020</div>
              <div class="item year" data-value="2021">2021</div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui selection dropdown">
            <input type="hidden" name="month" value="{{month}}">
            <i class="dropdown icon"></i>
            <div class="default text">月</div>
            <div class="menu">
              {% for m in get_codes('months') %}
              <div class="item month" data-value="{{m.code}}">{{m.name}}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui two buttons">
      <button class="ui red button close-modal">キャンセル</button>
      <button id="move" class="ui teal button close-modal">指定する</button>
    </div>
  </div>
</div> #}