      <div class="ui fixed inverted main menu">
        <div class="ui right small secondary network menu inverted">
          <a id="js-sidebar" class="view-ui right item pusher">
            <div class="hamburger hamburger--slider js-hamburger">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </a>
        </div>
      </div>