<div class="swiper-container" >
  <div class="swiper-wrapper">
    <div class="ui image swiper-slide header-bg">
      <p class="animation-top animation-first large-text">KCTC</p>
      <p class="animation-top animation-second large-text">KCTC</p>
      <p class="animation-top animation-third large-text">KCTC</p>
    </div>
    <div class="ui image swiper-slide header-bg"></div>
    <div class="ui image swiper-slide header-bg"></div>
    <div class="ui image swiper-slide header-bg"></div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle grid container">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui header fade-up">お知らせ</h3>
        <div class="ui divided items">
          <a class="item">
            <div class="center aligned content">
              Content A
            </div>
          </a>
          <a class="item">
            <div class="center aligned content">
              Content A
            </div>
          </a>
          <a class="item">
            <div class="center aligned content">
              Content A
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>はじめての方へ</h3>
        <div class="button-detail">
          <a class="item">詳しくはこちら</a>
        </div>
      </div>
      <div class="column">
        <h3>施設紹介</h3>
        <div class="button-detail">
          <a class="item">詳しくはこちら</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical aligned stripe segment">
  <div class="ui middle grid container">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui header fade-up">ご利用案内</h3>
      </div>
    </div>
    <div class="row">
      <div class="column centered">
        <h4 class="ui header fade-up">開館時間</h4>

        <table class="ui definition celled unstackable table fade-up">
          <tbody>
            <tr>
              <td class="center aligned five wide column" rowspan="1" >開館日</td>
              <td class="center aligned" colspan="3" >火曜～日曜<br/>9:00 ～ 21:00</td>
            </tr>
            <tr>
              <td class="center aligned" rowspan="1" >閉館日</td>
              <td class="center aligned" colspan="3" >月曜・祝日</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="column centered">
        <h4 class="ui header fade-up">料金</h4>
        <table class="ui definition celled unstackable table fade-up">
          <tbody>
            <tr>
              <td class="center aligned five wide column">登録料<br/><span class="text-small">(初回のみ)</span></td>
              <td class="center aligned" colspan="2">500円</td>
            </tr>
            <tr>
              <td class="center aligned" rowspan="2">使用料</td>
              <td class="center aligned">大人</td>
              <td class="center aligned" colspan="2">500円</td>
            </tr>
            <tr>
              <td class="center aligned has-left-border ignored">子ども<br/><span class="text-small">（小学生以下）</span></td>
              <td class="center aligned">300円</td>
            </tr>
            <tr>
              <td class="center aligned">レンタルシューズ</td>
              <td class="center aligned" colspan="2">200円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle grid container">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui header fade-up">スケジュール</h3>
        <div id='calendar'></div>
      </div>
    </div>
    <!-- <div class="row">
      <div id='calendar'></div>
    </div> -->
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui header fade-up">課題帳</h3>
        <div class="button-detail">
          <a class="item">詳しくはこちら</a>
        </div>
      </div>
      <div class="column">
        <h3>SNS</h3>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical aligned stripe segment">
  <div class="ui middle grid container">
    <div class="center aligned row">
      <div class="column">
        <h3 class="ui header fade-up">アクセス</h3>
        <div class="eight wide column">
          <div class="ggmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1639.8843755031867!2d135.2166138456923!3d34.711012178490755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008e986fa6ba17%3A0x1383c26196c863a5!2z56We5oi455m75bGx56CU5L-u5omA!5e0!3m2!1sja!2sjp!4v1584502629845!5m2!1sja!2sjp" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          {# <p>神戸登山研修所<br/>〒657-0838 兵庫県神戸市灘区王子町２丁目２−１</br>阪急王子公園駅徒歩５分</p> #}
        </div>
      </div>
    </div>
  </div>
</div>