<div class="ui right demo vertical inverted sidebar labeled icon menu">
  <div class="item">
    ログイン中：<br/>
    {{username}}
  </div>
  <a class="item" href="/index.php/admin/problem">
    <i class="clipboard icon"></i>
    セッション課題
  </a>
  <a class="item" href="/index.php/admin/mproblem">
    <i class="clipboard outline icon"></i>
    マンスリー課題
  </a>
  <a class="item" href="/index.php/admin/monthly">
    <i class="calendar alternate outline icon"></i>
    マンスリー管理
  </a>
  <a class="item" href="/index.php/admin/template">
    <i class="file image outline icon"></i>
    壁画像ひな形
  </a>
  {# <a class="item" href="/index.php/admin/problem/index">
    <i class="paper plane icon"></i>
    課題投稿
  </a> #}
  {# <a class="item" href="/index.php/admin/topo/index">
    <i class="camera icon"></i>
    トポ画像作成
  </a> #}
  <a class="item" href="/index.php/admin/pass">
    <i class="user outline outline icon"></i>
    パスワード変更
  </a>
  <a class="item" href="/index.php/admin/login/logout">
    <i class="sign out alternate icon"></i>
    ログアウト
  </a>
</div>