<div id="comment-popup" class="popup js-popup">
  <div class="popup-inner">
    <div class="close-btn close-modal" id="js-close-btn"><i class="fas fa-times close icon"></i></div>
    <div class="ui segment">
      <div class="ui small header comment-header"></div>
      <div class="ui divider"></div>
      <div class="ui fluid action input">
        <input id="comment-input" type="text" value="">
        <div class="ui teal button add-comment">
          <i class="white plus icon"></i>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="scrollable comments-wrapper">
      </div>
    </div>
  </div>
  <div class="black-background close-modal" id="js-black-bg"></div>
</div>