<div id="image-popup" class="popup js-popup">
  <div class="popup-inner">
    <div class="close-btn close-modal" id="js-close-btn"><i class="fas fa-times close icon"></i></div>
  </div>
  <div class="black-background close-modal" id="js-black-bg"></div>
</div>